extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/' class='')
    img(src="images/burger.jpg" alt="hamburger")
  a(href='/menu')
    h2 Check our menu
  a(href='/orders')
    h2 Go to all orders
